@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;600&display=swap");

.wrapper {
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  border-radius: 20px;
}
.theme_lemon {
  background-color: #fff700;
  border-radius: 10px;
}
.theme_cold {
  background-color: #00ffff;
  border-radius: 10px;
}
.theme_hot {
  background-color: #ff8c00;
  border-radius: 10px;
}
.details {
  display: flex;
  justify-content: space-between;
  border-left: 0.5px solid #eb6e4b;
  & p {
    padding-left: 10px;
  }
}

.description {
  & span {
    font-family: "Space Grotesk", "Arial", sans-serif;
    font-weight: bolder;
    font-size: 16px;
  }
}
.weather_map {
  & img {
    width: 500px;
    height: auto;
  }
}

.title {
  & .orange_date {
    & h1 {
      color: #eb6e4b;
      font-size: 16px;
    }
  }
  & .city_country {
    & h1 {
      color: #48484a;
      font-size: 25px;
    }
  }
}

.temp-icon {
  display: flex;
  justify-content: space-between;
  text-align: center;
  p {
    font-size: 36px;
    padding-top: 25px;
  }
}
